Repository kimmin1kk/Do-it-Now, pull requests merged in 2023-07, with the labels that each got.

#2 jeongmu1 : [1week]
  BOJ/[1026] 보물/jeongmu1/Main.kt
  BOJ/[1026] 보물/jeongmu1/README.md
  BOJ/[1049] 기타줄/jeongmu1/Main.kt
  BOJ/[1049] 기타줄/jeongmu1/README.md
  BOJ/[1339] 단어 수학/jeongmu1/Main.kt
  BOJ/[1339] 단어 수학/jeongmu1/README.md
  BOJ/[1715] 카드 정렬하기/jeongmu1/Main.kt
  BOJ/[1715] 카드 정렬하기/jeongmu1/README.md
  BOJ/[2839] 설탕 배달/jeongmu1/Main.kt
  BOJ/[2839] 설탕 배달/jeongmu1/README.md
Labels: Kotlin, BOJ

#3 kimmin1kk : [1week]
  BOJ/[1764] 듣보잡/kimmin1kk/Main.java
  BOJ/[1764] 듣보잡/kimmin1kk/README.md
  BOJ/[2563] 색종이/kimmin1kk/Main.java
  BOJ/[2563] 색종이/kimmin1kk/README.md
  BOJ/[2839] 설탕배달/kimmin1kk/Main.java
  BOJ/[2839] 설탕배달/kimmin1kk/README.md
  BOJ/[9655] 돌 게임 1/kimmin1kk/Main.java
  BOJ/[9655] 돌 게임 1/kimmin1kk/README.md
  BOJ/[9658] 돌 게임 4/kimmin1kk/Main.java
  BOJ/[9658] 돌 게임 4/kimmin1kk/README.md
Labels: BOJ, Java

#4 beom1220 : [1week]
  BOJ/[1041] 주사위/beom1220/Main.java
  BOJ/[1041] 주사위/beom1220/README.md
  BOJ/[1312] 소수/beom1220/Main.java
  BOJ/[1312] 소수/beom1220/README.md
  BOJ/[1343] 폴리오미노/beom1220/Main.java
  BOJ/[1343] 폴리오미노/beom1220/README.md
  BOJ/[1676] 팩토리얼 0의 개수/beom1220/Main.java
  BOJ/[1676] 팩토리얼 0의 개수/beom1220/README.md
  BOJ/[1764] 듣보잡/beom1220/Main.java
  BOJ/[1764] 듣보잡/beom1220/README.md
Labels: BOJ, Java

#5 alfn051 : [1week]
  BOJ/[1002] 터렛/alfn051/Main.java
  BOJ/[1002] 터렛/alfn051/README.md
  BOJ/[14659] 한조서열정리하고옴ㅋㅋ/alfn051/Main.java
  BOJ/[14659] 한조서열정리하고옴ㅋㅋ/alfn051/README.md
  BOJ/[1764] 듣보잡/alfn051/Main.java
  BOJ/[1764] 듣보잡/alfn051/README.md
  BOJ/[1946] 신입사원/alfn051/Main.java
  BOJ/[1946] 신입사원/alfn051/README.md
  BOJ/[1992] 쿼드트리/alfn051/Main.java
  BOJ/[1992] 쿼드트리/alfn051/README.md
Labels: BOJ, Java

#6 Hw0o0 : [1week]
  BOJ/[1284] 집 주소/Hw0o0/Main.java
  BOJ/[1284] 집 주소/Hw0o0/README.md
  BOJ/[1547] 공/Hw0o0/Main.java
  BOJ/[1547] 공/Hw0o0/README.md
  BOJ/[1764] 듣보잡/Hw0o0/Main.java
  BOJ/[1764] 듣보잡/Hw0o0/README.md
  BOJ/[2455] 지능형 기차/Hw0o0/Main.java
  BOJ/[2455] 지능형 기차/Hw0o0/README.md
  BOJ/[2839] 설탕 배달/Hw0o0/Main.java
  BOJ/[2839] 설탕 배달/Hw0o0/README.md
Labels: BOJ, Java

#9 sanghyeonLee2 : [1week]
  P/귤 고르기/sanghyeonLee2/README.md
  P/귤 고르기/sanghyeonLee2/solution.js
  P/달리기 경주/sanghyeonLee2/README.md
  P/달리기 경주/sanghyeonLee2/solution.js
  P/삼총사/sanghyeonLee2/README.md
  P/삼총사/sanghyeonLee2/solution.js
  P/예산/sanghyeonLee2/README.md
  P/예산/sanghyeonLee2/solution.js
  P/푸드 파이트 대회/sanghyeonLee2/README.md
  P/푸드 파이트 대회/sanghyeonLee2/solution.js
Labels: Programmers, JavaScript

#12 hwan2-99 : [1week]
  P/가장 가까운 같은 글자/hwan2-99/solution.java
  P/숫자 짝꿍/hwan2-99/README.md
  P/숫자 짝꿍/hwan2-99/Solution.java
  P/조건에 부합하는 중고거래 댓글 조회하기/hwan2-99/README.md
  P/조건에 부합하는 중고거래 댓글 조회하기/hwan2-99/Solution.sql
  P/특별한 이차원 배열 2/hwan2-99/README.md
  P/특별한 이차원 배열 2/hwan2-99/Solution.java
  P/푸드 파이트 대회/hwan2-99/README.md
  P/푸드 파이트 대회/hwan2-99/Solution.java
  P/하노이의 탑/hwan2-99/README.md
  P/하노이의 탑/hwan2-99/Solution.java
Labels: Java, Programmers

#18 Hw0o0 : [2week]
  BOJ/[1110] 더하기 사이클/Hw0o0/Main.java
  BOJ/[1110] 더하기 사이클/Hw0o0/README.md
  BOJ/[1267] 핸드폰 요금/Hw0o0/Main.java
  BOJ/[1267] 핸드폰 요금/Hw0o0/README.md
  BOJ/[2460] 지능형 기차 2/Hw0o0/Main.java
  BOJ/[2460] 지능형 기차 2/Hw0o0/README.md
  BOJ/[3052] 나머지/Hw0o0/Main.java
  BOJ/[3052] 나머지/Hw0o0/README.md
  BOJ/[9655] 돌 게임/Hw0o0/Main.java
  BOJ/[9655] 돌 게임/Hw0o0/README.md
Labels: BOJ, Java

#17 sanghyeonLee2 : [2week]
  P/숫자 문자열과 영단어/sanghyeonLee2/README.md
  P/숫자 문자열과 영단어/sanghyeonLee2/solution.js
  P/시저 암호/sanghyeonLee2/README.md
  P/시저 암호/sanghyeonLee2/solution.js
  P/올바른 괄호/sanghyeonLee2/README.md
  P/올바른 괄호/sanghyeonLee2/solution.js
  P/이상한 문자 만들기/sanghyeonLee2/README.md
  P/이상한 문자 만들기/sanghyeonLee2/solution.js
  P/짝지어 제거하기/sanghyeonLee2/README.md
  P/짝지어 제거하기/sanghyeonLee2/solution.js
Labels: Programmers, JavaScript

#15 alfn051 : [2week]
  BOJ/[1406]  에디터/alfn051/Main.java
  BOJ/[1406]  에디터/alfn051/README.md
  BOJ/[1588] 수열/alfn051/Main.java
  BOJ/[1588] 수열/alfn051/README.md
  BOJ/[1654] 랜선 자르기/alfn051/Main.java
  BOJ/[1654] 랜선 자르기/alfn051/README.md
  BOJ/[20115] 에너지 드링크/alfn051/Main.java
  BOJ/[20115] 에너지 드링크/alfn051/README.md
  P/두 원 사이의 정수 쌍/alfn051/README.md
  P/두 원 사이의 정수 쌍/alfn051/Solution.java
Labels: BOJ, Java, Programmers

#13 kimmin1kk : [2week]
  BOJ/[1026] 보물/kimmin1kk/Main.java
  BOJ/[1026] 보물/kimmin1kk/README.md
  BOJ/[1439] 뒤집기/kimmin1kk/Main.java
  BOJ/[1439] 뒤집기/kimmin1kk/README.md
  BOJ/[1789] 수들의 합/kimmin1kk/Main.java
  BOJ/[1789] 수들의 합/kimmin1kk/README.md
  BOJ/[20115] 에너지 드링크/kimmin1kk/Main.java
  BOJ/[20115] 에너지 드링크/kimmin1kk/README.md
  P/구명보트/kimmin1kk/README.md
  P/구명보트/kimmin1kk/Solution.java
Labels: BOJ, Java, Programmers

#10 beom1220 : [2week]
  BOJ/[1081] 합/beom1220/Main.java
  BOJ/[1081] 합/beom1220/README.md
  BOJ/[1193] 분수찾기/beom1220/Main.java
  BOJ/[1193] 분수찾기/beom1220/README.md
  BOJ/[1213] 팰린드롬 만들기/beom1220/Main.java
  BOJ/[1213] 팰린드롬 만들기/beom1220/README.md
  BOJ/[2869] 달팽이는 올라가고 싶다/beom1220/Main.java
  BOJ/[2869] 달팽이는 올라가고 싶다/beom1220/README.md
  P/두 원 사이의 정수 쌍/beom1220/README.md
  P/두 원 사이의 정수 쌍/beom1220/Solution.java
Labels: BOJ, Java, Programmers
